<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ipadreess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0D8DB9B1D337832000CE003</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D8DBB41D337834000CE003</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D8DBBF1D337834000CE003</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
